.forgot__links {
    display: flex;
    justify-content: space-between;
  }
  #linkbutton {
    background-color: #0e1d39; /* Set the background color to green */
    color: white; /* Set the text color to white */
  }
  
  /* Additional styles for hover effect */
  #linkbutton:hover {
    background-color: darkgreen; /* Change the background color on hover */
  }