
<form #myForm="ngForm" [formGroup]="angForm" class="product-form" (ngSubmit)="onSubmit()" novalidate class="form">
  <div class="grid-2 mgb-small">
    <button type="button" class="btn btn-secondary" (click)="canceled()"><mat-icon>arrow_back</mat-icon></button>

    <div class="panel white col">
      <h4>Main Info</h4>
      <label for="name" class="mgt-small">Name <span class="text-red">*</span></label>
      <input type="text" id="name" formControlName="name">
      <div *ngIf="angForm.controls['name']?.invalid && (angForm.controls['name']?.dirty || angForm.controls['name']?.touched)">
        <div *ngIf="angForm.controls['name']?.errors?.['required']" class="input-error-msg">Name is required</div>
      </div>

      <label for="price" class="mgt-small">Price <span class="text-red">*</span></label>
      <input type="number" id="price" formControlName="price" >
      <div *ngIf="angForm.controls['price']?.invalid && (angForm.controls['price']?.dirty || angForm.controls['price']?.touched)">
        <div *ngIf="angForm.controls['price']?.errors?.['required']" class="input-error-msg">Price is required</div>
      </div>

      <label for="quantityInStock" class="mgt-small">Quantity in Stock <span class="text-red">*</span></label>
      <input type="number" id="quantityInStock" formControlName="quantityInStock" >
      <div *ngIf="angForm.controls['quantityInStock']?.invalid && (angForm.controls['quantityInStock']?.dirty || angForm.controls['quantityInStock']?.touched)">
        <div *ngIf="angForm.controls['quantityInStock']?.errors?.['required']" class="input-error-msg">Quantity in Stock is required</div>
      </div>
    </div>

    <div class="panel white col">
      <!-- <h4>Additional Info</h4> -->
      <!-- Add additional fields if needed -->
    </div>
  </div>

  <div class="grid-2">
    <div class="col text-right">
      <button type="submit" class="btn btn-primary" [disabled]="!angForm.valid" ><mat-icon>published_with_changes</mat-icon></button>
      <button type="button" *ngIf="product" class="btn btn-secondary" (click)="confirmDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</form>