<div class="panel white mgt-med mgb-med">
    <h4>LAST ORDERS</h4>
    <div class="makeorderbutton">
      <!-- <a routerLink="order" class="btn btn-primary">New Order</a> -->
    </div>
    <br />
  
    <table class="table table-hover-striped">
      <thead>
        <tr>
          <th style="width: 10%" class="align-center">Order Id</th>
          <th style="width: 30%">Customer</th>
          <th style="width:5%">Status</th>
          <th style="width: 15%">Date</th>
          <th style="width: 15%" class="align-right">Amount</th>
          <!-- <th style="width: 15%" class="align-center">Action</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders; let i = index"> 
          <td class="align-center">{{order.id}}</td>
          <td>
            {{order.customer.name}}
            <div class="text-muted text-xs">
              Member since {{order.customer.createdAt | date}}
            </div>
          </td>
          <td class="align-left">
            <span class="label green text-white">{{order.status}}</span>
          </td>
          <td>{{order.createdAt | date}}</td>
          <td class="align-right">{{order.total | currency: 'INR' : 'symbol' : '1.0'}}</td>
          <td class="align-center">
            <div class="col text-right">
              <!-- <a routerLink="order/{{order.id}}" class="btn btn-primary">Edit Order</a> -->
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  