<div class="panel white mgt-med mgb-med">
  <div class="grid-2">
    <div class="form col">
      <input type="text" placeholder="Filter..." #filterInput>
    </div>
    <div class="col text-right">
      <a routerLink="new" class="btn btn-primary">New Order</a>
    </div>
  
  </div>
  <table class="table table-hover-striped">
    <thead>
      <tr>
        <th style="width: 10%" class="align-center">Order Id</th>
        <th style="width: 40%">Customer</th>
        <th style="width: 10%" class="align-center">Date</th>
        <th style="width: 10%" class="align-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders"> 
        <td class="align-center">{{ order.id }}</td>
        <td>
          {{ order.customer?.name }} <!-- Add safe navigation operator here -->
        <div class="text-muted text-xs">
          Member since {{order.customer.createdAt | date}}
        </div>
      </td>
      <td class="align-center">{{order.createdAt | date}}</td>
        <td class="align-center">
          <div class="col text-right">
            <a routerLink="{{ order.id }}" class="btn btn-primary">Edit Item</a>
          </div>
        </td>
      </tr>
    </tbody>
    
  </table>
  <div class="pagination-container">
    <button class="btn btn-secondary" [disabled]="currentPage === 1" (click)="prevPage()">Previous</button>
    <span>{{currentPage}} / {{totalPages()}}</span>
    <button class="btn btn-secondary" [disabled]="currentPage === totalPages()" (click)="nextPage()">Next</button>
  </div>
</div>
